body{
    background-image: url("403325.jpg");
}

.Perkenalan {
    background-color: rgba(0,0,0,0.5);   
    padding: 10px 20px 10px 20px;   
    margin: 30px 30px 30px 30px;  
    border: 2px solid white;
    color:white;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
    font-weight: bold;
}

div.Nama {
    background-color: rgba(0,0,0,0.5);   
    padding: 10px 20px 10px 20px;   
    margin: 30px 30px 30px 30px;  
    border: 2px solid white;
    color:white;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
    font-weight: bold;
}

div.SocialMedia {
    background-color: rgba(0,0,0,0.5);   
    padding: 10px 20px 10px 20px;   
    margin: 30px 30px 30px 30px;  
    border: 2px solid white;
    color:white;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
    font-weight: bold;
}

div.Pendidikan {
    background-color: rgba(0,0,0,0.5);   
    padding: 10px 20px 10px 20px;   
    margin: 30px 30px 30px 30px;  
    border: 2px solid white;
    color:white;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
    font-weight: bold;
}

div.Pengalaman {
    background-color: rgba(0,0,0,0.5);   
    padding: 10px 20px 10px 20px;   
    margin: 30px 30px 30px 30px;  
    border: 2px solid white;
    color:white;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
    font-weight: bold;
}

div.Inspirasi {
    background-color: rgba(0,0,0,0.5);   
    padding: 10px 20px 10px 20px;   
    margin: 30px 30px 30px 30px;  
    border: 2px solid white;
    color:white;
    font-family: monospace;
    font-size: large;
    line-height: 1.6;
    font-weight: bold;
}

h1 {
    border-bottom: 2px solid white;
}

.foto {
    border-top-left-radius: 75% 75%;
    border-top-right-radius: 75% 75%;
    border-bottom-right-radius: 75% 75%;
    border-bottom-left-radius: 75% 75%;
    border: 2px solid white;
  }
